:root {
    --dark: #555B6E;
    --green-1: #89B0AE;
    --green-2: #BEE3DB;
    --light: #FAF9F9;
    --pink: #D5B0AC;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* icons */
  .flower {
    color: var(--pink);
  }
  .dk-leaf {
    color: var(--green-1);
  }
  .link {
    color: var(--green-2);
  }
  .link:hover {
    transition: 1s ease-in-out;
    color: var(--pink);
    transform: scale(2);
    margin: 2rem;
  }

  /* header */
  #header {
    z-index: 1;
    width: 15rem;
    border-right: 25px solid;
    border-color: var(--green-2);
    background-color: var(--light);
  }
  /* nav */
  nav {
    color: var(--dark);
  }
  #nav-btn {
    background-color: var(--green-2);
  }
  #nav-btn:hover {
    font-weight: bold;
    background-color: var(--pink);
  }

  /* main */
  #main {
    width: calc(100% - 15rem);
    margin-left: 15rem;
    border-left: 25px solid;
    border-color: var(--green-1);
    background-color: var(--dark);
  }

  /* about */
  #about {
    color: var(--light);
  }
  .section-text {
    border: 5px dotted;
    border-color: var(--green-2);
    border-radius: 30px ;
  }

  /* work */
  #work {
    color: var(--light);
  }

  /* card */
  .card {
    color: var(--light); 
    background-color: var(--dark);
    border: 5px dotted;
    border-color: var(--green-2);
    border-radius: 30px ;
  }
  .card-header {
    border-bottom: 1px solid;
    border-color: var(--green-2);
  }
  .card-body {
    margin-bottom: 1rem;
  }
  .card-link {
    color: var(--dark);
    text-decoration: none;
    background-color: var(--green-2);
    border-radius: 15px ;
  }
  .card-link:hover {
    background-color: var(--pink);
  }

  /* contact */
  #contact {
    color: var(--light);
  }
