:root {
    --dark: #555B6E;
    --green-1: #89B0AE;
    --green-2: #BEE3DB;
    --light: #FAF9F9;
    --pink: #D5B0AC;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* header */
  #header {
    z-index: 1;
    width: 15rem;
    border-right: 25px solid;
    border-color: var(--green-2);
    background-color: var(--light);
  }

  nav {
    color: var(--dark)
  }

  #nav-btn {
    background-color: var(--green-2);
  }
  #nav-btn:hover {
    font-weight: bold;
    border: 5px solid;
    border-color: var(--green-1);
  }

  /* main */
  #main {
    width: calc(100% - 15rem);
    margin-left: 15rem;
    border-left: 25px solid;
    border-color: var(--green-1);
    background-color: var(--dark);
  }

  /* about */
  #about {
    color: var(--light);
  }

  #about-text {
    border: 5px dotted;
    border-color: var(--light);
    border-radius: 30px ;
  }

  #dk-leaf {
    color: var(--green-1);
  }