:root {
    --dark: #555B6E;
    --green-1: #89B0AE;
    --green-2: #BEE3DB;
    --light: #FAF9F9;
    --pink: #D5B0AC;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* main.handlebars */
  #header {
    z-index: 1;
    width: 15rem;
    border-right: 20px solid;
    border-color: var(--green-2);
    background-color: var(--light);
  }

  nav {
    color: var(--dark)
  }

  #nav-btn {
    background-color: var(--green-2);
  }

  #main {
    margin-left: 15rem;
    padding: 2rem;
    border-left: 20px solid;
    border-color: var(--green-1);
    background-color: var(--dark);
  }

  /* about.handlebars */
  #about {
    color: var(--light)
  }